+b.SECTION.contact-form
	+e.container.container
		+e.background(src="img/background-contact.png")
		+e.row.row
			+e.column._text.col-12.col-sm-6.wow.fadeInUpBig(data-wow-delay="0.1s")
				+e.content
					+e.P.content-title 
						| Как думаете, 
						span.bold сколько еще продержится Ваш бизнес, 
						| если 
						span.bold Вы продолжите использовать старые подходы 
						| в маркетинге, продажах и клиент-сервисе?
					p Не нужно проверять.
					p
						span.bold Оставьте заявку 
						| и мы покажем, какой потенциал роста есть у Вашего бизнеса
			+e.column._phone.col-12.col-sm-6.wow.fadeInUpBig(data-wow-delay="0.3s")
				+e.phone
					+e.IMG.phone-img(src="img/iphone.png")
					+e.phone-body
						+e.P.phone-body-title 
							|Заполните форму
							br
							|и 
							span.bold мы Вам перезвоним
						+b.FORM.form._block(action="mail.php" method="POST")
							+e.content
								+e.row
									+e.INPUT.control(name="vname" type="text")
									+e.label Ваше имя
								+e.row
									+e.INPUT.control(name="vemail" type="email")
									+e.label Ваш email
								+e.row
									+e.INPUT.control(name="vphone" type="tel")
									+e.label Ваш телефон
								+e.row
									+e.BUTTON.submit.btn._brand-1._shadow-brand-1._size-fluid.effect._bounce-top(type="submit") Проконсультироваться<br>бесплатно
	+e.info
		+e.container.container
			+e.row.row
				.col-12.col-sm-2.col-md-1
					+e.IMG.info-logo(src="img/logo-1.svg")
				+e.info-content.col-12.col-sm-10.col-md-11
					+e.info-buttons
						+e.info-buttons-row
							+e.BUTTON.info-button(data-action="modal" data-open="#modal-politic") Политика конфиденциальности
							+e.BUTTON.info-button(data-action="modal" data-open="#modal-otkaz") Отказ от ответственности
						+e.info-buttons-row
							+e.A.info-link(href="tel: (067) 127 00 27") (067) 127 00 27
							+e.A.info-link(href="tel: (067) 127 02 27") (067) 127 02 27
					+e.info-social
						+social('_inline _brand-1')