+b.SECTION.cooperation
	
	.container
		+e.row.row
			.col-12.col-sm-6
				img(src="img/cooperation.png")
			.col-12.col-sm-6
				+e.content
					p
						|Сотрудничая с нами, Вы получаете в свое распоряжение 
						span.color-brand-1.bold четко слаженную команду
						|, которая настраивает стабильный поток клиентов и прибыли в Ваш бизнес
				+e.footer
					+b.BUTTON.btn._size-lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Получить бесплатную консультацию и аудит