+b.SECTION.cooperation
	
	.container
		+e.row.row
			.col-12.col-sm-6.wow.fadeInRightBig
				img(src="img/cooperation.png")
			.col-12.col-sm-6.wow.fadeInLeftBig(data-wow-delay="0.1s")
				+e.content
					p
						span.color-brand-1.bold Go Viral  
						| help build your personal brand, shape products and services, and drive successful sales.
				+e.footer
					+b.BUTTON.btn._size-lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Get a free consultation and audit