-
	var gets = [
		{
			icon: 'img/icon-get-1.svg',
			content: 'A strategy for running your online business',
			delay: '0.1s'
		},
		{
			icon: 'img/icon-get-2.svg',
			content: 'Saving time on searching for contractors and contractors',
			delay: '0.2s'
		},
		{
			icon: 'img/icon-get-3.svg',
			content: 'Formed products and services',
			delay: '0.25s'
		},
		{
			icon: 'img/icon-get-4.svg',
			content: 'Loyal customers',
			delay: '0.3s'
		},
		{
			icon: 'img/icon-get-5.svg',
			content: 'Stable profit',
			delay: '0.4s'
		},
		{
			icon: 'img/icon-get-6.svg',
			content: 'Effective sales system',
			delay: '0.5s'
		}
	];

+b.SECTION.get
	.container
		+e.H3.title.title-section._center
			| By working with us, you
			span.bold  get
		.row
			each get in gets
				+b.icon._flex.col-12.col-sm-6.col-md-4.wow.fadeInUpBig(data-wow-delay=get.delay)
					+e.header
						+e.IMG.image(src=get.icon)
					+e.content
						p=get.content