-
	var gets = [
		{
			icon: 'img/icon-get-1.svg',
			content: 'Стратегию ведения вашего бизнеса в интернете',
			delay: '0.1s'
		},
		{
			icon: 'img/icon-get-2.svg',
			content: 'Экономию времени на поиск исполнителей и подрядчиков',
			delay: '0.2s'
		},
		{
			icon: 'img/icon-get-3.svg',
			content: 'Сформированные продукты и услуги',
			delay: '0.25s'
		},
		{
			icon: 'img/icon-get-4.svg',
			content: 'Лояльных клиентов',
			delay: '0.3s'
		},
		{
			icon: 'img/icon-get-5.svg',
			content: 'Стабильную прибыль',
			delay: '0.4s'
		},
		{
			icon: 'img/icon-get-6.svg',
			content: 'Эффективную систему продаж',
			delay: '0.5s'
		}
	];

+b.SECTION.get
	.container
		+e.H3.title.title-section._center
			| Поработав с нами, вы 
			span.bold получите
		.row
			each get in gets
				+b.icon._flex.col-12.col-sm-6.col-md-4.wow.fadeInUpBig(data-wow-delay=get.delay)
					+e.header
						+e.IMG.image(src=get.icon)
					+e.content
						p=get.content