+b.HEADER.header
	+e.container.container
		+e.logo
			+e.logo-content
				+e.logo-content-header
					+e.IMG.logo-icon(src="img/logo-2.svg")
					+e.P.logo-subtitle маркетинговое агенство
				+e.H2.logo-title
					| комплексно
					| упаковываем
					| ваш бизнес или
					| личный бренд
			+e.logo-footer
				+b.BUTTON.btn._size-lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Получить бесплатную консультацию и аудит