+b.HEADER.header
	+e.container.container
		+e.IMG.background-item._1.wow.fadeInUpBig(data-wow-delay="0.1s" src="img/puzzle-3.png")
		+e.IMG.background-item._2.wow.fadeInUpBig(data-wow-delay="0.25s" src="img/puzzle-1.png")
		+e.IMG.background-item._3.wow.fadeInUpBig(data-wow-delay="0.15s" src="img/puzzle-1.png")
		+e.IMG.background-item._4.wow.fadeInUpBig(data-wow-delay="0.3s" src="img/puzzle-1.png")
		+e.IMG.background-item._5.wow.fadeInUpBig(data-wow-delay="0.4s" src="img/puzzle-3.png")
		+e.IMG.background-item._6.wow.fadeInUpBig(data-wow-delay="0.35s" src="img/puzzle-3.png")
		+e.row.row
			+e.logo
				+e.logo-content.wow.fadeInUpBig(data-wow-delay="0.1s")
					+e.logo-content-header
						+e.IMG.logo-icon(src="img/logo-2.svg")
						+e.P.logo-subtitle маркетинговое агенство
					+e.H2.logo-title
						| комплексно
						| упаковываем
						| ваш бизнес или
						| личный бренд
				+e.logo-footer.wow.fadeInUpBig(data-wow-delay="0.15s")
					+b.BUTTON.btn._size-lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Получить бесплатную консультацию и аудит
			+e.UL.nav
				+e.LI.nav-item._1.wow.fadeInDownBig(data-wow-delay="0.32s")
					+e.A.nav-item-link(href="#section-contacts")
						+e.SPAN.nav-item-link-text._1 Контакты
				+e.LI.nav-item._2.wow.fadeInRightBig(data-wow-delay="0.4s")
					+e.A.nav-item-link(href="#section-team")
						+e.SPAN.nav-item-link-text._2 Команда
				+e.LI.nav-item._3.wow.fadeInUpBig(data-wow-delay="0.35s")
					+e.A.nav-item-link(href="#section-steps")
						+e.SPAN.nav-item-link-text._3 Этапы работы
				+e.LI.nav-item._4.wow.fadeInUpBig(data-wow-delay="0.3s")
					+e.A.nav-item-link(href="#section-what-we-do")
						+e.SPAN.nav-item-link-text._4 Что мы делаем