+b.HEADER.header
	+e.part._1
		div
			+e.H1.logo GoViral
			+e.H2.subtitle интернет-маркетинг для <br> бизнеса и личности
	+e.part._2
		+e.H3.intro Мы поможем создать<br>прибыльный бизнес на <br>вашем опыте и экспертности