+b.HEADER.header
	+e.part._1
		div
			+e.H1.logo GoViral
			+e.H2.subtitle комплексно упаковываем<br>ваш бизнес или личный бренд
	+e.part._2
		+e.H3.intro Создаем такую систему, при которой вы регулярно получаете стабильный поток клиентов и увеличиваете прибыль из месяца в месяц