+b.modal#modal-form
	+e.box._default
		+e.header
			+e.P.title Проконсультироваться бесплатно
			+e.BUTTON.close(data-close="modal") &times;
		+e.body
			+b.FORM.form._block(action="mail.php" method="POST")
				+e.content
					+e.row
						+e.INPUT.control(name="vname" type="text")
						+e.label Ваше имя
					+e.row
						+e.INPUT.control(name="vemail" type="email")
						+e.label Ваш email
					+e.row
						+e.INPUT.control(name="vphone" type="tel")
						+e.label Ваш телефон
					+e.row
						+e.BUTTON.submit.btn._brand-1._shadow-brand-1._size-fluid.effect._bounce-top(type="submit") Проконсультироваться<br>бесплатно

+b.modal#modal-nav
	+b.UL.puzzle
		+e.LI.item._1
			+e.A.item-link(data-scroll href="#section-working")
				+e.SPAN.item-link-text._1 Что мы делаем
		+e.LI.item._2
			+e.A.item-link(data-scroll href="#section-steps")
				+e.SPAN.item-link-text._2 Этапы работы
		+e.LI.item._3
			+e.A.item-link(data-scroll href="#section-team")
				+e.SPAN.item-link-text._3 Команда
		+e.LI.item._4
			+e.A.item-link(data-scroll href="#section-contacts")
				+e.SPAN.item-link-text._4 Контакты

+b.modal#modal-politic
	+e.box._default
		+e.header
			+e.P.title Политика конфиденциальности
			+e.BUTTON.close(data-close="modal") &times;
		+e.body
			p Политика конфиденциальности

+b.modal#modal-otkaz
	+e.box._default
		+e.header
			+e.P.title Отказ от ответственности
			+e.BUTTON.close(data-close="modal") &times;
		+e.body
			p Отказ от ответственности