+b.fixed._md-top
	+b.nav._style
		+e.container.container
			+e.row.row
				+e.logo.col-8.col-md-3
					+hamburger('2')
					+e.logo-content
						+e.logo-content-img(src="img/logo-1.svg" alt="")
				+e.addition.col-4.col-md-9#js-vnav-addition
					+e.addition-toggle#js-vnav-toggle
						span
						span
						span
					+e.addition-links.js-vnav-links
						+e.A.addition-link(href="tel: +38 (067) 127 00 27") +38 (067) 127 00 27
						+e.A.addition-link(href="tel: +38 (099) 289 33 75") +38 (099) 289 33 75
						+social('_nav _inline _transparent')