+b.SECTION.problem
	.container
		+e.row.row
			.col-12.col-sm-6
				//img(src='img/problem.jpg')
			.col-12.col-sm-6.wow.fadeInRight(data-wow-delay="0.2s")
				+e.content
					+b.UL.list._check
						li You have experience and knowledge that you want to share with the whole world ...
						li You know for sure that it will benefit society ...
						li You already have several satisfied clients, and you want to make money by creating your profitable business on this.
					//p В какой-то момент вас перестало устраивать, что 80% клиентов приходят по рекомендациям. Знакомые предприниматели дали пару контактов «проверенных» подрядчиков.
					//p Пора трезво взглянуть на свой бизнес. Маркетингом занимаетесь либо вы, либо кучка нанятых за копейки «специалистов», абсолютно не заинтересованных в результате.
					//- +b.UL.list._check
					//- 	li У вас есть опыт и знания, которыми вы хотите поделиться со всем миром …
					//- 	li Вы точно знаете, что это принесет пользу обществу...
					//- 	li У вас уже есть несколько довольных клиентов, и вы хотите зарабатывать создав свой прибыльный бизнес на этом.