+b.SECTION.problem
	.container
		+e.row.row
			.col-12.col-sm-6.wow.fadeInLeft
				img(src='img/problem.jpg')
			.col-12.col-sm-6.wow.fadeInRight(data-wow-delay="0.2s")
				+e.content
					p В какой-то момент вас перестало устраивать, что 80% клиентов приходят по рекомендациям. Знакомые предприниматели дали пару контактов «проверенных» подрядчиков.
					+e.P.content-highlight И понеслась...
					p Пора трезво взглянуть на свой бизнес. Маркетингом занимаетесь либо вы, либо кучка нанятых за копейки «специалистов», абсолютно не заинтересованных в результате.