+b.SECTION.result
	+e.background(src='img/background-cooperation.png')
	+e.container.container
		+e.H3.title.title-section
			| But how to do that
			br
			span.bold you do not know…
		+e.row
			+e.attention#js-result-attention
				+e.BUTTON.attention-close#js-result-attention-close &times;
				+e.IMG.attention-icon(src="img/result-attention.svg")
				+e.P.attention-title
					| Results
					span.color-brand-1.bold no
			+e.item._1.wow.fadeInLeftBig(data-wow-delay="0.1s")
				+resultIcon()
				+e.item-content
					p You have completed the training courses, but do not know what to do next
			+e.item._2.wow.fadeInUpBig(data-wow-delay="0.2s")
				+resultIcon()
				+e.item-content
					p Launching ads doesn't bring customers
			+e.item._3.wow.fadeIn(data-wow-delay="0.3s")
				+resultIcon()
				+e.item-content
					p A friend made the design, and a classmate made a website
			+e.item._4.wow.fadeInDownBig(data-wow-delay="0.4s")
				+resultIcon()
				+e.item-content
					p Printed
						br
						| business cards
			+e.item._5.wow.fadeInRightBig(data-wow-delay="0.5s")
				+resultIcon()
				+e.item-content
					p
						| Not clear
						br
						|product line
		+e.footer.row
			+icon('_center col-12 col-sm-4 wow fadeInUp', 'img/item-working-2.svg', 'You are stuck ...')
				p You do not know how to create a selling website, optimize advertising costs, how and where to look for clients. And the most important thing is to do it efficiently ... Every day your enthusiasm and faith in yourself grow dim ...
			+icon('_center col-12 col-sm-4 wow fadeInUp', 'img/item-working-1.svg', 'Money spent ...')(data-wow-delay="0.1s")
				p 
					|  time is wasted.
					br
					| And this is the moment where most business ideas die ..
			+icon('_center col-12 col-sm-4 wow fadeInUp', 'img/item-working-5.svg', 'Knowledge and desire is not enough')(data-wow-delay="0.2s")
				p You need a team that can create your personal brand, develop a strategy for its development and implement it.