+b.SECTION.result
	+e.background(src='img/background-cooperation.png')
	.container
		+e.H3.title.title-section
			| Но как это сделать
			br
			span.bold вы не знаете…
		+e.row
			+e.attention#js-result-attention
				+e.BUTTON.attention-close#js-result-attention-close &times;
				+e.IMG.attention-icon(src="img/result-attention.svg")
				+e.P.attention-title
					| Результатов 
					span.color-brand-1.bold нет
			+e.item._1.wow.fadeInLeftBig(data-wow-delay="0.1s")
				+resultIcon()
				+e.item-content
					p Вы теряете время, раз за разом пытаясь настроить стабильный поток заявок и сливая деньги на рекламу
			+e.item._2.wow.fadeInUpBig(data-wow-delay="0.2s")
				+resultIcon()
				+e.item-content
					p У Вас нет грамотно выстроенной линейки продуктов, а затраты на маркетинг еле окупаются
			+e.item._3.wow.fadeIn(data-wow-delay="0.3s")
				+resultIcon()
				+e.item-content
					p Вы надергиваете «в миру по нитке»: там дизайн, тут копирайтинг, в третьем месте трафик. В итоге проект получается неприбыльным
			+e.item._4.wow.fadeInDownBig(data-wow-delay="0.4s")
				+resultIcon()
				+e.item-content
					p По цифрам всё красиво: много подписчиков в соц. сетях, большая база, высокие конверсии… а на деле продаж и денег в кармане нет
			+e.item._5.wow.fadeInRightBig(data-wow-delay="0.5s")
				+resultIcon()
				+e.item-content
					p
						| И самое главное - нет четкой
						br
						| понятной системы, по которой
						br
						| Вы бы четко понимали:
						br
						span.color-brand-2.bold Вложил Х - получил 3Х
		+e.footer.row
			+icon('_center col-12 col-sm-4 wow fadeInUp', 'img/item-working-2.svg', 'Вы застряли...')
				p Вы не знаете, как создать продающий сайт, оптимизировать затраты на рекламу, как и где искать клиентов. А самое главное - сделать это эффективно…  С каждый днем ваш энтузиазм и вера в себя тускнеет…
			+icon('_center col-12 col-sm-4 wow fadeInUp', 'img/item-working-1.svg', 'Деньги потрачены...')(data-wow-delay="0.1s")
				p 
					|  время потеряно. 
					br
					| И этот момент, где большинство идей для бизнеса умирают..
			+icon('_center col-12 col-sm-4 wow fadeInUp', 'img/item-working-5.svg', 'Знаний и желания недостаточно')(data-wow-delay="0.2s")
				p Необходима команда, которая сможет создать ваш личный бренд, разработать стратегию его развития и внедрить ее.