+b.SECTION.result
	.container
		+e.H3.title.title-section
			| К чему это 
			span.bold приводит?
		+e.row
			+e.item._1
				+resultIcon()
				+e.item-content
					p Вы теряете время, раз за разом пытаясь настроить стабильный поток заявок и сливая деньги на рекламу
			+e.item._2
				+resultIcon()
				+e.item-content
					p У Вас нет грамотно выстроенной линейки продуктов, а затраты на маркетинг еле окупаются
			+e.item._3
				+resultIcon()
				+e.item-content
					p Вы надергиваете «в миру по нитке»: там дизайн, тут копирайтинг, в третьем месте трафик. В итоге проект получается неприбыльным
			+e.item._4
				+resultIcon()
				+e.item-content
					p По цифрам всё красиво: много подписчиков в соц. сетях, большая база, высокие конверсии… а на деле продаж и денег в кармане нет
			+e.item._5
				+resultIcon()
				+e.item-content
					p
						| И самое главное - нет четкой
						br
						| понятной системы, по которой
						br
						| Вы бы четко понимали:
						br
						span.color-brand-2.bold Вложил Х - получил 3Х