-
	var reviews = [
		{
			image: 'img/review-1.jpg',
			name: 'Орест Шупенюк',
			position: 'Психолог',
			content: 'Я практикуючий психолог, та як просувати та більш маштабно організовувати тренінги та майстер класи , я не знав, я довірився цій команді. Я отримав організовану команду, яка працює в маркетингу, просуванні і продажах. Тільки вперед і разом.'
		},
		{
			image: 'img/review-2.jpg',
			name: 'Светлана Фус',
			position: 'Диетолог',
			content: 'К моему бизнесу отнеслись ответственно и профессионально. Я очень довольна результатом, поскольку мы доработали маркетинг и усилили свои продажи. А это была основной моей целью. Все делалось четко, в сроки и с творческим подходом.'
		},
		{
			image: 'img/review-3.jpg',
			name: 'Александр Сердюк',
			position: 'Marketing Leader в компании «Multimed»',
			content: 'Продвигали совместно новый продукт. Работа шла четко и слажено, все утверждалось быстро и работало на результат. Сотрудничая с Таней, с ее опытом, мы поняли что вникнуть в продукт, все продумать, настроить рекламные кампании это ее сильная сторона и довольны итогом.'
		},
		{
			image: 'img/review-4.jpg',
			name: 'Светлана Грабова',
			position: 'Сексолог',
			content: 'Благодаря сотрудничеству мы организовали выездной тренинг и онлайн мероприятия. Отдельное спасибо, Катерине за ее подход и ответственность. Дальше работаем и сотрудничаем, только вместе с этой командой.'
		}
	];

+b.SECTION.review
	.container
		+e.H3.title.title-section._center
			| Слово нашим 
			span.bold клиентам
		+e.content.owl-carousel
			each review in reviews
				+e.item
					+e.item-content
						p=review.content
					+e.item-footer
						+e.item-image-wrapper
							+e.IMG.item-image(src=review.image)
						+e.item-info
							+e.P.item-info-name=review.name
							+e.P.item-info-position=review.position
		+e.footer
			+b.BUTTON.btn._size-lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Получить бесплатную консультацию и аудит