+b.SECTION.step#section-steps
	.container
		+e.H3.title.title-section._center
			| Stages of
			span.bold  work
		.row
			+e.item.col-12.col-sm-4.wow.fadeInUpBig(data-wow-delay="0.1s")
				+e.item-inner
					+e.item-front
						+e.item-header
							+e.item-icon(src="img/icon-step-1.svg")
						+e.P.item-title Marketing analysis and business audit
					+e.item-back
						p
							| This is the first stage at which we get to know each other, identify bottlenecks in your communication with clients and give recommendations for increasing profits. Now by the way
							span.bold we conduct an audit completely free of charge,
							| but only for the first 5 people.
			+e.item.col-12.col-sm-4.wow.fadeInUpBig(data-wow-delay="0.2s")
				+e.item-inner
					+e.item-front
						+e.item-header
							+e.item-icon(src="img/icon-step-2.svg")
						+e.P.item-title Immersion
					+e.item-back
						p
							| Our marketers dive headlong into your project, ask questions and dig
							span.bold key meanings,
							| on which your packaging and everything related to it will be built: websites, commercial offers, marketing kits, presentations, etc.
			+e.item.col-12.col-sm-4.wow.fadeInUpBig(data-wow-delay="0.3s")
				+e.item-inner
					+e.item-front
						+e.item-header
							+e.item-icon(src="img/icon-step-3.svg")
						+e.P.item-title We structure and design<br> everything into a brand platform
					+e.item-back
						p 
							| Do not be alarmed yet by these newfangled words. To put it simply, we form the “skeleton” of your business, prescribe its ideas, values, background (background), vision, ideal clients, etc.

			+e.item.col-12.col-sm-4.wow.fadeInUpBig(data-wow-delay="0.4s")
				+e.item-inner
					+e.item-front
						+e.item-header
							+e.item-icon(src="img/icon-step-4.svg")
						+e.P.item-title From hypotheses to action
					+e.item-back
						p 
							| At this stage, our team begins to actively implement everything that we have created with you on paper: design websites, write Unique Selling Proposals, build your positioning as a brand, and other boring (and so exciting for us) marketing stuff.

			+e.item.col-12.col-sm-4.wow.fadeInUpBig(data-wow-delay="0.5s")
				+e.item-inner
					+e.item-front
						+e.item-header
							+e.item-icon(src="img/icon-step-5.svg")
						+e.P.item-title Full speed ahead!
					+e.item-back
						p 
							| Finally we set sail and launch your new project to conquer the market. First, <span class="bold"> slowly, through tests, analysis and revision </span>.
			+e.item.col-12.col-sm-4.wow.fadeInUpBig(data-wow-delay="0.6s")
				+b.BUTTON.btn._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Get a free consultation