+b.SECTION.step
	.container
		+e.H3.title.title-section._center
			| Этапы 
			span.bold работы
		.row
			+e.item.col-12.col-sm-4
				+e.item-inner
					+e.item-front
						+e.item-header
							+e.item-icon(src="img/icon-step-1.svg")
						+e.P.item-title Анализ работы вашего <br>бизнеса и сбор информации
					+e.item-back
						p 
							| Это первый этап, на котором мы знакомимся, выявляем “узкие места” Вашей коммуникации с клиентами и даем рекомендации по увеличению прибыли. Сейчас, кстати, 
							span.bold мы проводим аудит полностью бесплатно, 
							| но только для первых ХХ человек