+b.SECTION.step
	.container
		+e.H3.title.title-section._center
			| Этапы 
			span.bold работы
		.row
			+e.item.col-12.col-sm-4
				+e.item-inner
					+e.item-front
						+e.item-header
							+e.item-icon(src="img/icon-step-1.svg")
						+e.P.item-title Анализ работы вашего <br>бизнеса и сбор информации
					+e.item-back
						p 
							| Это первый этап, на котором мы знакомимся, выявляем “узкие места” Вашей коммуникации с клиентами и даем рекомендации по увеличению прибыли. Сейчас, кстати, 
							span.bold мы проводим аудит полностью бесплатно, 
							| но только для первых ХХ человек
			+e.item.col-12.col-sm-4
				+e.item-inner
					+e.item-front
						+e.item-header
							+e.item-icon(src="img/icon-step-2.svg")
						+e.P.item-title Анализ рынка, конкурентов, <br>целевой аудитории
					+e.item-back
						p 
							| Наши маркетологи с головой ныряют в Ваш бизнес, задают вопросы и выкапывают 
							span.bold ключевые смыслы, 
							| на которых будет строится Ваша упаковка и всё, что с ней связано: сайты, коммерческие предложения, маркетинг-киты, презентации и прочее
			+e.item.col-12.col-sm-4
				+e.item-inner
					+e.item-front
						+e.item-header
							+e.item-icon(src="img/icon-step-3.svg")
						+e.P.item-title Формируем<br>маркетинговую стратегию
					+e.item-back
						p 
							| Не пугайтесь пока этих новомодных слов. Если по-простому - мы формируем “скелет” Вашего бизнеса, прописываем его идеи, ценности, бэкграунд (предысторию), видение, идеальных клиентов и т.д.

			+e.item.col-12.col-sm-4
				+e.item-inner
					+e.item-front
						+e.item-header
							+e.item-icon(src="img/icon-step-4.svg")
						+e.P.item-title Интеграция<br>стратегии развития
					+e.item-back
						p 
							| На этом этапе наша команда начинает активно внедрять всё то, что мы с Вами создали на бумаге: проектировать сайты, прописывать Уникальные Торговые Предложения, выстраивать позиционирование Вас как бренда и прочие скучные для Вас (и такие увлекательные для нас) маркетинг-штуки

			+e.item.col-12.col-sm-4
				+e.item-inner
					+e.item-front
						+e.item-header
							+e.item-icon(src="img/icon-step-5.svg")
						+e.P.item-title Анализ работ<br>и аналитика
					+e.item-back
						p 
							| Наконец мы поднимаем паруса и выпускаем Ваш новый, ПЕРЕупакованный бизнес в плавание по завоеванию рынка. Сначала потихоньку, через постоянные тексты, анализ и докручивание. И как только станет понятно, что двигаемся в правильном направлении и конкуренты закрываются один за другим…

			+e.item.col-12.col-sm-4
				+b.BUTTON.btn._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Получить бесплатную<br>консультацию