+b.SECTION.team
	+e.IMG.background(src='img/background.png')
	.container
		+e.H3.title.title-section._center
			span.bold Команда 
			| GoViral
		.row
			+e.item.col-12.col-sm-4.wow.fadeInLeftBig(data-wow-delay="0.1s")
				+e.item-header
					+e.IMG.item-image(src="img/team-1.png")
				+e.P.item-title Татьяна Коваленко
				+e.item-content
					+b.UL.list._check
						li 7 лет опыта работы в интернет маркетинге
						li Запустила более 300 рекламных кампаний, например Windrose.aero, Johnson &amp; Johnson, KAN Development
						li Управляла более 1,5 млн грн. рекламных бюджетов
						li Более 1500 проведенных  переговоров и подготовленных стратегий

			+e.item.col-12.col-sm-4.wow.fadeInUpBig(data-wow-delay="0.15s")
				+e.item-header
					+e.IMG.item-image(src="img/team-2.png")
				+e.P.item-title Екатерина Борисенко
				+e.item-content
					+b.UL.list._check
						li Опыт работы в продажах, маркетинге, организации мероприятий более 10 лет
						li Руководитель проектов в сфере психологических ивентов, выездных тренингов и онлайн проектов с Наталией Холоденко, Дмитрием Карпачевым, Татьяной Калашник, Татьяной Лариной, Борисом Пахолем, Орестом Шупенюком, Светланой Фус
						li Опыт работы маркетологом в отеле InterContinetal Kyiv, ресторанов Olivera, b-hush, Comme il Faut
						li Образование: 2012 Hospitality Marketing, Cornell University

			+e.item.col-12.col-sm-4.wow.fadeInRightBig(data-wow-delay="0.1s")
				+e.item-header
					+e.IMG.item-image(src="img/team-3.png")
				+e.P.item-title Виктория Яхимец
				+e.item-content
					+b.UL.list._check
						li Выпускница University of California, Los Angeles, Marketing Certificate Program, Marketing Principles and Practices
						li Опыт работы в маркетинговых и рекламных стратегиях на телеканале ZIK
						li Специалист по таргетированной рекламе в Facebook, SMM менеджер