+b.SECTION.team#section-team
	+e.IMG.background(src='img/background.png')
	.container
		+e.H3.title.title-section._center
			span.bold Team
			| GoViral
		.row
			+e.item.col-12.col-sm-4.wow.fadeInLeftBig(data-wow-delay="0.1s")
				+e.item-header
					+e.IMG.item-image(src="img/team-1.png")
				+e.P.item-title Tatiana Kovalenko
				+e.item-content
					+b.UL.list._check
						li 7 years of experience in top marketing companies Web-promo, UCT, Webpromoexperts, Liftmarketing, TTS Group.
						li Has run over 300 ad campaigns such as Windrose.aero, Johnson & amp; Johnson, KAN Development
						li Managed over UAH 1.5 million. advertising budgets
						li More than 1,500 negotiations conducted and strategies prepared

			+e.item.col-12.col-sm-4.wow.fadeInUpBig(data-wow-delay="0.15s")
				+e.item-header
					+e.IMG.item-image(src="img/team-2.png")
				+e.P.item-title Ekaterina Borisenko
				+e.item-content
					+b.UL.list._check
						li Work experience - marketer, event manager, sales and customer service manager.
						li project manager in the field of info-business, field trainings with Natalia Kholodenko, Dmitry Karpachev, Tatiana Kalashnik, Tatiana Larina, Boris Pakhol, Orest Shupenyuk, Svetlana Fus
						li Work experience as a marketer at InterContinetal Kyiv, Olivera, b-hush, Comme il Faut restaurants
						li Education: 2012 Hospitality Marketing, Cornell University

			+e.item.col-12.col-sm-4.wow.fadeInRightBig(data-wow-delay="0.1s")
				+e.item-header
					+e.IMG.item-image(src="img/team-3.png")
				+e.P.item-title Victoria Yakhimets
				+e.item-content
					+b.UL.list._check
						li Graduate of the University of California, Los Angeles, Marketing Certificate Program, Marketing Principles and Practices
						li Experience in marketing and advertising strategies on ZIK TV channel
						li Specialist in targeted advertising on Facebook, SMM manager