+b.SECTION.thx
	+e.background(src="img/thx-bg.png")
	.container
		+e.H1.title Cпасибо за заявку!
		+e.H2.subtitle
			| Наш менеджер 
			span.bold свяжется с вами
			br
			| в течении ближайшего времени.
		+e.button-wrapper
			+b.A.btn._size-lg._brand-1.effect._bounce-top(href="#") Вернуться обратно на сайт
		+e.footer
			+e.P.footer-title
				| Следите за 
				span.bold новостями!
			+social('_thx _inline _brand-1')