+b.SECTION.working
	.container
		+e.H3.title.title-section._center
			| Что мы 
			span.bold делаем
		+e.row.row
			+e.item._1._order-1.flip-container.wow.fadeInLeftBig(data-wow-delay="0.1s")
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-1.svg")
						+e.P.item-title Маркетинг 360˚
					+e.item-back.back
						+e.Ul.item-back-text.list._check
							li Маркетинговая стратегия 
							li Консультация маркетолога 
							li Разработка слогана 
							li Нейминг 
							li Позиционирование  
							li Анализ конкурентов 
							li Анализ поведения клиента 
							li Анализ целевой аудитории 
							li Маркетинговый аудит 
							li Маркетинг на аутсорсе

			+e.item._2._order-2.flip-container.wow.fadeInUpBig(data-wow-delay="0.3s")
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-2.svg")
						+e.P.item-title Консалтинг
					+e.item-back.back
						+e.Ul.item-back-text.list._check
							li Разработка стратегии масштабирования бизнеса 
							li Внедрение CRM-системы 
							li Разработка скриптов продаж 
							li Тестирование отдела продаж и сервиса

			+e.item._3._order-3.flip-container.wow.fadeInRightBig(data-wow-delay="0.35s")
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-3.svg")
						+e.P.item-title Ведение<br>Соц. сетей
					+e.item-back.back
						+e.Ul.item-back-text.list._check
							li Стратегия социальных сетей 
							li Разработка маркетинговой стратегии 
							li Таргетированная реклама 
							li Менеджмент сообществ 
							li Привлечение лидеров мнений 
							li Аналитика

			+e.item._3._order-4.flip-container.wow.fadeInLeftBig(data-wow-delay="0.4s")
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-4.svg")
						+e.P.item-title Маркетинг<br>личности
					+e.item-back.back
						+e.Ul.item-back-text.list._check
							li Разработка и внедрения маркетинговой стратегии 
							li Работа с лидерами мнений 
							li Организация и проведение PR мероприятий 
							li Сотрудничество со СМИ 
							li Организация и проведение рекламных фото и видеосъемок

			+e.item._4._order-5.flip-container.wow.fadeInUpBig(data-wow-delay="0.42s")
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-5.svg")
						+e.P.item-title Стратегия<br>продвижения
					+e.item-back.back
						+e.Ul.item-back-text.list._check
							li Разработка лендингов 
							li Разработка и внедрение воронки продаж 
							li Страницы захвата и оплаты 
							li Email маркетинг 
							li Поисковые медийные рекламы в Google Adwords 
							li Медийные кампании с персонализированным таргетингом 
							li Programmatic

			+e.item._1._order-6.flip-container.wow.fadeInRightBig(data-wow-delay="0.5s")
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-1.svg")
						+e.P.item-title Визуальная<br>айдентика
					+e.item-back.back
						+e.Ul.item-back-text.list._check
							li Айдентика 
							li Копирайтинг 
							li Фирменный стиль 
							li Разработка брендбука 
							li Вирусные видео 
							li Организация и проведение рекламных фото- и видеосъемок 
							li Инфографика 
							li Анимация 
							li Создание POS-материалов (брошюры, флаера, буклеты, баннера, подарки, визитки)