+b.SECTION.working#section-working
	.container
		+e.H3.title.title-section._center
			| What we
			span.bold  do
		+e.row.row
			+e.item._1._order-1.flip-container.wow.fadeInLeftBig(data-wow-delay="0.1s")
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-1.svg")
						+e.P.item-title Development,<br> strategy
					+e.item-back.back
						+e.UL.item-back-text.list._check
							li Positioning
							li Idea and mission statement
							li Formation of a unique selling proposition
							li Brand story description
							li Analysis of competitors and target audience

			+e.item._2._order-2.flip-container.wow.fadeInUpBig(data-wow-delay="0.3s")
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-2.svg")
						+e.P.item-title Visual<br>identity
					+e.item-back.back
						+e.UL.item-back-text.list._check
							li Corporate identity
							li Brand book development
							li Advertising photo and video filming
							li Infographics
							li Image selection

			+e.item._3._order-3.flip-container.wow.fadeInRightBig(data-wow-delay="0.35s")
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-3.svg")
						+e.P.item-title Formation<br> products
					+e.item-back.back
						+e.UL.item-back-text.list._check
							li Creating a product line
							li Pricing
							li Formation of participation packages
							li Creation of teaching materials
							li Conducting and maintaining online courses

			+e.item._3._order-4.flip-container.wow.fadeInLeftBig(data-wow-delay="0.4s")
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-4.svg")
						+e.P.item-title Carrying out<br>activities
					+e.item-back.back
						+e.UL.item-back-text.list._check
							li Conducting online courses
							li Conducting webinars and online broadcasts
							li Live workshops and trainings

			+e.item._4._order-5.flip-container.wow.fadeInUpBig(data-wow-delay="0.42s")
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-5.svg")
						+e.P.item-title Social<br>networks
					+e.item-back.back
						+e.UL.item-back-text.list._check
							li SMM strategy development
							li Targeted advertising
							li Community Management
							li Attracting opinion leaders
							li Analytics

			+e.item._1._order-6.flip-container.wow.fadeInRightBig(data-wow-delay="0.5s")
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-1.svg")
						+e.P.item-title Creature<br>sales funnels
					+e.item-back.back
						+e.UL.item-back-text.list._check
							li Creating landing pages
							li Lead generation in Google Adwords and facebook
							li Email Marketing
							li Configuring chat bots