+b.SECTION.working
	.container
		+e.H3.title.title-section._center
			| Что мы 
			span.bold делаем
		.row
			+e.item._1.flip-container
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-1.svg")
						+e.P.item-title Маркетинг 360˚
					+e.item-back.back
						+e.P.item-back-text Маркетинговая стратегия | Консультация маркетолога | Разработка слогана | Нейминг | Позиционирование  | Анализ конкурентов | Анализ поведения клиента | Анализ целевой аудитории | Маркетинговый аудит | Маркетинг на аутсорсе

			+e.item._2.flip-container
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-2.svg")
						+e.P.item-title Консалтинг
					+e.item-back.back
						+e.P.item-back-text Разработка стратегии масштабирования бизнеса | Внедрение CRM-системы | Разработка скриптов продаж | Тестирование отдела продаж и сервиса