+b.SECTION.working
	.container
		+e.H3.title.title-section._center
			| Что мы 
			span.bold делаем
		+e.row.row
			+e.item._1._order-1.flip-container
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-1.svg")
						+e.P.item-title Маркетинг 360˚
					+e.item-back.back
						+e.P.item-back-text Маркетинговая стратегия | Консультация маркетолога | Разработка слогана | Нейминг | Позиционирование  | Анализ конкурентов | Анализ поведения клиента | Анализ целевой аудитории | Маркетинговый аудит | Маркетинг на аутсорсе

			+e.item._2._order-2.flip-container
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-2.svg")
						+e.P.item-title Консалтинг
					+e.item-back.back
						+e.P.item-back-text Разработка стратегии масштабирования бизнеса | Внедрение CRM-системы | Разработка скриптов продаж | Тестирование отдела продаж и сервиса

			+e.item._3._order-3.flip-container
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-3.svg")
						+e.P.item-title Ведение<br>Соц. сетей
					+e.item-back.back
						+e.P.item-back-text Стратегия социальных сетей | Разработка маркетинговой стратегии | Таргетированная реклама | Менеджмент сообществ | Привлечение лидеров мнений | Аналитика

			+e.item._3._order-4.flip-container
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-4.svg")
						+e.P.item-title Маркетинг<br>личности
					+e.item-back.back
						+e.P.item-back-text Разработка и внедрения маркетинговой стратегии | Работа с лидерами мнений | Организация и проведение PR мероприятий | Сотрудничество со СМИ | Организация и проведение рекламных фото и видеосъемок

			+e.item._4._order-5.flip-container
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-5.svg")
						+e.P.item-title Стратегия<br>продвижения
					+e.item-back.back
						+e.P.item-back-text Разработка лендингов | Разработка и внедрение воронки продаж | Страницы захвата и оплаты | Email маркетинг | Поисковые медийные рекламы в Google Adwords | Медийные кампании с персонализированным таргетингом | Programmatic

			+e.item._1._order-6.flip-container
				+e.item-inner.flipper
					+e.item-front.front
						+e.item-icon(src="img/item-working-1.svg")
						+e.P.item-title Визуальная<br>айдентика
					+e.item-back.back
						+e.P.item-back-text Айдентика | Копирайтинг | Фирменный стиль | Разработка брендбука | Вирусные видео |  Организация и проведение рекламных фото- и видеосъемок | Инфографика | Анимация | Создание POS-материалов (брошюры, флаера, буклеты, баннера, подарки, визитки)