+b('cooperation')
	+relative
	padding-bottom: 30px
	+min(sm)
		padding-bottom: 45px

	+e('row')
		+min(sm)
			flex-direction: row-reverse
			align-items: center

	+e('content')
		font-size: 20px
		line-height: 1.2
		margin-bottom: 30px
		+min(sm)
			font-size: 20px
		+min(md)
			font-size: 23px
			padding-right: 30px
		+min(lg)
			margin-bottom: 30px
			padding-right: 50px
			font-size: 25px