+b('problem')
	position: relative
	padding-bottom: 45px
	margin-top: -45px
	z-index: 2

	+min(sm)
		margin-top: -100px

	+e('row')
		+min(sm)
			align-items: center

	+e('content')
		font-size: 18px
		
		+min(lg)
			font-size: 20px

		+min(lg)
			font-size: 24px

		> *:not(:last-child)
			margin-bottom: 15px

		+ee('highlight')
			color: $color-brand-1
			font:
				size: 150%
				weight: bold