+b('result')
	$self: &
	
	+relative	
	+padding-y(30px)

	+min(sm)
		+padding-y(45px)

	+e('background')
		+absolute(0, 0, null, null)

	+e('attention')
		+absolute(30%, null, null, 50%)
		transform: translate(-50%, -50%)
		padding: 15px
		background-color: $color-white
		z-index: 2
		border: 10px solid $color-brand-1
		border-radius: 6px
		opacity: 0
		visibility: hidden
		+transition

		+m('active')
			opacity: 1
			visibility: visible

		+min(md)
			padding: 20px
		
		+ee('icon')
			display: inline-block
			vertical-align: middle
			margin-right: 15px
			+size(45px)
			
		+ee('title')
			display: inline-block
			vertical-align: middle
			font-size: 20px

			+min(md)
				font-size: 22px

			+min(lg)
				font-size: 25px

			// +min(xlg)
			// 	font-size: 48px

		+ee('close')
			+absolute(-20px, -20px)
			+size(40px)
			font-weight: bold
			font-size: 35px
			color: $color-white
			background-color: #1DA616
			border: none
			border-radius: 4px
			outline: none

			+transition

			&:hover
				background-color: $color-brand-1

	+e('row')
		position: relative

		+min(sm)
			min-height: 400px
		
		+min(md)
			margin-left: 60px

		+min(lg)
			margin-left: 75px

		// +min(xlg)
		// 	margin-left: 100px
		// 	min-height: 600px

	+e('title')
		margin-bottom: 45px
		+min(sm)
			margin-bottom: 60px
			padding-left: 50px

	+e('item')
		$item: &
		+relative

		+ee('icon')
			height: 63px
			padding: 7px
			+transition
			path
				fill: #fff
				stroke: $color-brand-1
				+transition

		@for $i from 1 through 5
			+m($i)
				#{$item}
					+ee('icon')
						path
							transition-delay: $i + s

		+ee('content')
			text-align: center
			line-height: 1.1
			font-size: 16px
		
		+m('animated')
			#{$item}
				+ee('icon')
					path
						fill: $color-brand-1


		+max(md)
			text-align: center
			
			&:not(:last-child)
				margin-bottom: 30px

			+ee('content')
				max-width: 250px
				+margin-x(auto)

		+min(md)

			+absolute

			+ee('icon')
				+absolute

			+ee('content')
				+absolute

			@at-root
				%size-type-1

					+size(300px, 215px)

					+min(lg)
						+size(350px, 250px)

					// +min(xlg)
					// 	+size(450px, 320px)

				%size-type-2
					
					+size(220px, 320px)

					+min(lg)
						+size(270px, 380px)
		
					// +min(xlg)
					// 	+size(320px, 450px)

				%size-type-3
					
					+size(220px)

					+min(lg)
						+size(280px)

					// +min(xlg)
					// 	+size(384px)

			+m('1')
				+bg('../img/result__item-1.png')
				@extend %size-type-1

			+m('2')
				+bg('../img/result__item-2.png')
				z-index: -1
				@extend %size-type-1

				#{$self}__item-icon
					left: 50%
					transform: translateX(-50%)

			+m('3')
				+bg('../img/result__item-3.png')
				@extend %size-type-2
				z-index: -2

			+m('4')
				+bg('../img/result__item-4.png')
				@extend %size-type-3

			+m('5')
				+bg('../img/result__item-5.png')
				@extend %size-type-1

		// MD
		+min(md)
			
			#{$self}__item-content
				max-width: 150px
				font-size: 12px

			+m('1')
				top: 0
				left: 0
				#{$self}__item-icon
					top: 10px
					left: 35px

				#{$self}__item-content
					right: 35px
					bottom: 66px
					
			+m('2')
				bottom: 101px
				left: 168px
				#{$self}__item-content
					bottom: 65px
					left: 50%
					transform: translateX(-50%)
				#{$self}__item-icon
					top: 15px

			+m('3')
				top: -10px
				left: 330px
				#{$self}__item-content
					top: 95px
					left: 40px

				#{$self}__item-icon
					right: 28px
					bottom: 60px

			+m('4')
				top: -92px
				left: 420px
				#{$self}__item-content
					top: 90px
					left: 35px

				#{$self}__item-icon
					top: 15px
					right: 35px

			+m('5')
				top: -5px
				left: 507px
				#{$self}__item-content
					top: 2px
					right: 30px
					text-align: left
				#{$self}__item-icon
					right: 120px
					bottom: 60px


		// LG
		+min(lg)
			
			#{$self}__item-content
				max-width: 200px
				font-size: 14px

			+m('1')
				#{$self}__item-icon
					top: 15px
					left: 60px

				#{$self}__item-content
					right: 50px
					bottom: 66px
					max-width: 150px
					
			+m('2')
				bottom: 52px
				left: 195px
				#{$self}__item-content
					bottom: 75px
					left: 50%
					transform: translateX(-50%)
				#{$self}__item-icon
					top: 30px

			+m('3')
				top: -15px
				left: 381px
				#{$self}__item-content
					top: 120px
					left: 40px

				#{$self}__item-icon
					right: 50px
					bottom: 90px

			+m('4')
				top: -125px
				left: 485px
				#{$self}__item-content
					top: 120px
					left: 50px
					max-width: 175px

				#{$self}__item-icon
					top: 20px
					right: 60px

			+m('5')
				top: -5px
				left: 595px
				#{$self}__item-content
					top: 20px
					right: 30px
					text-align: left
				#{$self}__item-icon
					right: 145px
					bottom: 70px

		// XLG
		// +min(xlg)
			
		// 	#{$self}__item-content
		// 		max-width: 230px
		// 		font-size: 16px

		// 	+m('1')
		// 		#{$self}__item-content
		// 			bottom: 90px
		// 			right: 45px
					
		// 	+m('2')
		// 		bottom: 155px
		// 		left: 250px
		// 		#{$self}__item-content
		// 			bottom: 90px
		// 			left: 50%
		// 			transform: translateX(-50%)

		// 	+m('3')
		// 		top: 0
		// 		left: 500px
		// 		#{$self}__item-content
		// 			top: 140px
		// 			left: 45px

		// 		#{$self}__item-icon
		// 			right: 65px
		// 			bottom: 90px

		// 	+m('4')
		// 		top: -170px
		// 		left: 615px
		// 		#{$self}__item-content
		// 			top: 175px
		// 			left: 96px
		// 			font-size: 15px
		// 			max-width: 190px

		// 	+m('5')
		// 		top: 3px
		// 		left: 745px
		// 		#{$self}__item-content
		// 			top: 25px
		// 			right: 55px
		// 		#{$self}__item-icon
		// 			right: 190px
		// 			bottom: 90px