+b('result')
	$self: &

	+min(sm)
		padding-top: 45px

	+e('row')
		position: relative

	+e('title')
		+min(sm)
			padding-left: 50px

	+e('item')
		+relative
		
		+ee('icon')
			+absolute
			height: 63px
			padding: 7px
			path
				fill: none
				stroke: $color-brand-1

		+ee('content')
			+absolute
			text-align: center
			line-height: 1.1
			font-size: 16px
		
		@at-root
			%size-type-1
				+min(lg)
					+size(350px, 200px)

				+min(xlg)
					+size(450px, 320px)

			%size-type-2

				+min(xlg)
					+size(320px, 450px)

			%size-type-3

				+min(xlg)
					+size(300px, 300px)

		+m('1')
			+bg('../img/result__item-1.png')
			@extend %size-type-1

			#{$self}__item-icon
				top: 30px
				left: 60px

		+m('2')
			+bg('../img/result__item-2.png')
			@extend %size-type-1

			#{$self}__item-icon
				top: 30px
				left: 50%
				transform: translateX(-50%)

		+m('3')
			+bg('../img/result__item-3.png')
			@extend %size-type-2

			#{$self}__item-icon
				right: 65px
				bottom: 90px

		+m('4')
			+bg('../img/result__item-4.png')
			@extend %size-type-3

			#{$self}__item-icon
				top: 20px
				right: 60px

		+m('5')
			+bg('../img/result__item-5.png')
			@extend %size-type-1

		+min(xlg)
			
			#{$self}__item-content
				max-width: 230px

			+m('1')
				#{$self}__item-content
					bottom: 90px
					right: 45px
					
			+m('2')
				#{$self}__item-content
					bottom: 90px
					left: 50%
					transform: translateX(-50%)

			+m('3')
				#{$self}__item-content
					top: 140px
					left: 45px

				#{$self}__item-icon
					right: 65px
					bottom: 90px

			+m('4')
				#{$self}__item-content
					top: 130px
					left: 50px
					font-size: 15px
					max-width: 190px

			+m('5')
				#{$self}__item-content
					top: 25px
					right: 55px
				#{$self}__item-icon
					right: 190px
					bottom: 90px