+b('step')
	
	+padding-y(45px)
	
	+min(md)
		+padding-y(75px)

	// Item
	+e('item')
		
		$item: &
		
		+relative

		+max(sm)
			margin-bottom: 30px
		
		+min(sm)
			&:not(:nth-child(3)):not(:nth-child(6))
				&:before
					content: ""
					+absolute(45px, null, null, 15px)
					+size(100%, 1px)
					border-bottom: 4px dashed #ddd

			&:nth-child(1),
			&:nth-child(2)
				&:after
					content: ""
					+absolute(155px, null, null, 60px)
					+size(100%, 1px)
					border-bottom: 4px dashed #ddd
			
			&:nth-child(3),
			&:nth-child(4)
				&:after
					content: ""
					+size(1px, 150px)
					border-left: 4px dashed #ddd
					z-index: -1

			&:nth-child(3)
				&:after
					+absolute(9px, null, null, 60px)

			&:nth-child(4)
				&:after
					+absolute(-55px, null, null, 60px)
					

		+ee('inner')
			position: relative

			+min(sm)
				margin-bottom: 60px
				padding-bottom: 60px

		+ee('front')
			display: flex
			flex-flow: row wrap

			+max(sm)
				margin-bottom: 15px
				align-items: center

		+ee('back')
			+min(sm)
				+absolute(-15px, null, null, 0)
				+size(100%, null)
				background-color: $color-white
				border: 1px solid rgb(197, 197, 197)
				border-radius: 6px
				box-shadow: 0px 44px 50px 0px rgba(12, 12, 15, .15)
				opacity: 0
				visibility: hidden
				font-size: 16px
				padding: 15px
				z-index: 3
				transform: translateY(-45px)
				+transition

		+ee('inner')
			&:hover
				#{$item}
					+ee('back')
						opacity: 1
						visibility: visible
						transform: none

		+ee('title')
			flex-basis: 0
			flex-grow: 1
			margin-left: 15px
			line-height: 1.2
			font-weight: bold
			
			+min(sm)
				+relative(-15px)

		+ee('header')
			display: flex
			align-items: center
			justify-content: center

			+size(90px)

			border: 1px solid rgb(197, 197, 197)
			border-radius: 6px

			background-color: $color-white
			

			+min(sm)
				box-shadow: 0px 44px 50px 0px rgba(12, 12, 15, 0.15)

		+ee('icon')

			+size(55px)