+b('working')
	
	+padding-y(45px)
	
	+e('row')
		justify-content: center

	+e('item')
		$self: &

		+max(md)
			margin-bottom: 15px

		+ee('icon')
			height: 70px

			+min(md)
				+absolute

			+min(lg)
				height: 80px

			+min(xlg)
				height: 100px

		+ee('title')
			font-weight: bold
			line-height: 1.1

			+min(md)
				+absolute

			+min(lg)
				font-size: 30px

			+min(xlg)
				font-size: 33px

		+ee('back')
			display: flex
			align-items: center
			justify-content: center
			padding: 15px
			background-color: $color-white
			border: 1px solid #ddd
			box-shadow: 0px 44px 50px 0px rgba(12, 12, 15, 0.15);
			font-size: 15px

			+min(md)
				padding: 30px

			+min(lg)
				font-size: 17px

		+ee('front')

			+max(md)
				display: flex
				align-items: center
				justify-content: center
				background-color: $color-white
				border: 1px solid #ddd
				box-shadow: 0px 44px 50px 0px rgba(12, 12, 15, 0.15);
	
		@at-root
			%working-size
				+size(270px, 200px)

		@extend %working-size
		
		.front, .back
			@extend %working-size

		@at-root
			%working-size-1
				
				// MD
				+min(md)
					
					@at-root
						%working-size-1-md
							+size(400px, 290px)

					@extend %working-size-1-md
					
					.front, .back
						@extend %working-size-1-md

				// LG
				+min(lg)
					
					@at-root
						%working-size-1-lg
							+size(460px, 335px)

					@extend %working-size-1-lg
					
					.front, .back
						@extend %working-size-1-lg
				
				// XLG
				+min(xlg)
					
					@at-root
						%working-size-1-xlg
							+size(534px, 387px)

					@extend %working-size-1-xlg
					
					.front, .back
						@extend %working-size-1-xlg

			%working-size-2
				
				// MD
				+min(md)
					
					@at-root
						%working-size-2-md
							+size(290px, 400px)

					@extend %working-size-2-md
					
					.front, .back
						@extend %working-size-2-md

				// LG
				+min(lg)
					
					@at-root
						%working-size-2-lg
							+size(290px, 405px)

					@extend %working-size-2-lg
					
					.front, .back
						@extend %working-size-2-lg
				
				// XLG
				+min(xlg)
					
					@at-root
						%working-size-2-xlg
							+size(325px, 455px)

					@extend %working-size-2-xlg
					
					.front, .back
						@extend %working-size-2-xlg

			%working-size-3
				@extend %working-size-1

			%working-size-4
				@extend %working-size-2
		
		// M 1
		+m('1')
			+min(md)
				#{$self}
					+ee('front')
						+bg('../img/working__item-1.png')

			
			+min(md)
				#{$self}
					+ee('icon')
						top: 15px
						left: 60px
					+ee('title')
						right: 75px
						bottom: 107px

			+min(lg)
				#{$self}
					+ee('icon')
						top: 15px
						left: 60px
					+ee('title')
						right: 60px
						bottom: 115px

			+min(xlg)
				#{$self}
					+ee('icon')
						top: 25px
						left: 60px
					+ee('title')
						right: 60px
						bottom: 130px

			@extend %working-size-1
	
		// M 2
		+m('2')
			+min(md)
				#{$self}
					+ee('front')
						+bg('../img/working__item-2.png')

			+min(md)
				#{$self}
					+ee('icon')
						right: 48px;
						bottom: 90px;
					+ee('title')
						top: 160px
						left: 70px

			+min(lg)
				#{$self}
					+ee('icon')
						right: 48px;
						bottom: 90px;
					+ee('title')
						top: 160px
						left: 70px

			+min(xlg)
				#{$self}
					+ee('icon')
						right: 48px;
						bottom: 90px;
					+ee('title')
						top: 160px
						left: 70px

			@extend %working-size-2

		// M 3
		+m('3')
			+min(md)
				#{$self}
					+ee('front')
						+bg('../img/working__item-3.png')
			
			+min(md)
				#{$self}
					+ee('icon')
						top: 25px
						right: 60px
					+ee('title')
						left: 60px
						bottom: 100px

			+min(lg)
				#{$self}
					+ee('title')
						left: 60px
						bottom: 105px

			+min(xlg)
				#{$self}
					+ee('title')
						left: 60px
						bottom: 130px

			@extend %working-size-3

		// M 4
		+m('4')
			+min(md)
				#{$self}
					+ee('front')
						+bg('../img/working__item-2.png')

			+min(md)
				#{$self}
					+ee('icon')
						left: 50px;
						top: 20px;
					+ee('title')
						top: 160px
						left: 70px

			+min(lg)
				#{$self}
					+ee('title')
						top: 135px
						left: 50px

			+min(xlg)
				#{$self}
					+ee('title')
						left: 50px
						top: 145px

			@extend %working-size-4

		+m('order')
			@at-root
				%change-order
					+min(lg)
						margin-left: -40px
				%change-offset
					+min(lg)
						margin-top: -45px
			&-1,
			&-6
				@extend %change-order

			&-4,
			&-5,
			&-6
				@extend %change-offset
