+b('header')
	+e('background-item')
		+absolute
		z-index: z('below')

		+min(lg)
			max-width: 250px
			+m('1')
				top: -30%;
				left: -25%;

			+m('2')
				top: 30%;
				left: -25%;

			+m('3')
				top: 70%
				left: -15%

			+m('4')
				top: -25%
				left: 26%

			+m('5')
				top: 25%
				left: 0%

			+m('6')
				top: 70%
				left: 25%
		
		+min(xlg)
			max-width: none
			+m('1')
				top: -50%
				left: -37%

			+m('2')
				top: 25%
				left: -47%

			+m('3')
				top: 70%
				left: -33%

			+m('4')
				top: -40%
				left: 20%

			+m('5')
				top: 22%
				left: -5%

			+m('6')
				top: 70%
				left: 24%