+b('header')
	position: relative
	z-index: z("default")
	
	+min(sm)
		display: flex
		height: 100vh

	+e('part')
		+relative
		
		+max(sm)
			padding: 45px 15px

		+min(sm)
			flex-basis: 50%
			justify-content: center
			display: flex
			align-items: center
			height: 100vh

		+m('1')
			+bg('../img/header-items.png')

		+m('2')
			+bg('../img/header-part-2.jpg')
			color: $color-white

		+min(lg)
			@media only screen
				background-attachment: fixed

	+e('logo')
		line-height: 1
		color: $color-brand-1
		font-weight: bold

		font-size: 75px

		+min(md)
			font-size: 100px

		+min(lg)
			font-size: 130px

	+e('subtitle')
		font-size: 20px
		line-height: 1

		+min(md)
			font-size: 25px

		+min(lg)
			font-size: 30px

	+e('intro')
		font-weight: 100
		line-height: 1.3
		max-width: 500px
		+min(sm)
			font-size: 22px
		+min(md)
			font-size: 25px