+b('contact-form')

	+max(sm)

		text-align: center

	+e('info')

		margin-bottom: 15px

		+max(sm)
			+margin-y(30px)

		+ee('logo')
			height: 55px
			+max(sm)
				margin-bottom: 15px

		+ee('row')
			+min(sm)
				align-items: center

		+ee('button')
			display: inline-block
			background-color: transparent
			border: none
			font-family: 'PT Sans', sans-serif
			font-weight: bold
			font-size: 15px
			padding: 5px

			&:not(:last-child)
				margin-right: 15px

		+ee('link')
			font-size: 16px
			font-weight: bold
			color: inherit
			text-decoration: none

			&:not(:last-child)
				margin-right: 15px

		+ee('content')

			+min(sm)

				display: flex
				align-items: center

		+ee('buttons')
			
			+ee('row')
				
				&:not(:last-child)
					margin-bottom: 15px
			
			+max(sm)
				margin-bottom: 30px

			+min(sm)

				margin-right: 30px