extends /extends/layout
block variables
	- var title = "Gulp Pro Starter Template";
	- var description = "Gulp Pro Starter Template";
block nav
	//include /sections/nav
block content
	//include /sections/header
	+b.BUTTON.btn(data-action="modal" data-open="#example-id") Open Modal
	+b.modal._to-top#example-id
		+e.box._default
			+e.header
				+e.P.title Modal title
				+e.BUTTON.close(data-close="modal") &times;
			+e.body
				p Lorem....