extends /extends/layout
block variables
	- var title = "GoViral";
	- var description = "GoViral";
block nav
	include /sections/nav
block content
	include /sections/header
	include /sections/problem
	include /sections/result
	include /sections/cooperation
	include /sections/working
	include /sections/step
	include /sections/team
	include /sections/get
	include /sections/review
	include /sections/contact-form
	include /sections/modals